/* body div.cardBody {
  border: 15px solid #e7c300;
  border-radius: 3%;
  height: 448px;
  margin: 8% auto auto auto;
  width: 320px;
  background-size: cover;
}
.water {
  background: url("https://res.cloudinary.com/di449masi/image/upload/v1610330429/d3inhf4-271fd765-dfec-44fc-9985-3538b0bceb36.png_gosjkc.png")
    no-repeat;
}
.ice {
  background: url("https://res.cloudinary.com/di449masi/image/upload/v1610330429/d3inhf4-271fd765-dfec-44fc-9985-3538b0bceb36.png_gosjkc.png")
    no-repeat;
}
.fairy {
  background: url("https://res.cloudinary.com/di449masi/image/upload/v1610330429/d3inhf4-271fd765-dfec-44fc-9985-3538b0bceb36.png_gosjkc.png")
    no-repeat;
}
.bug {
  background: url("https://res.cloudinary.com/di449masi/image/upload/v1610332680/d5oulfh-45f9111f-d787-4040-8609-50e8ce099b31.png_r8onzf.png")
    no-repeat;
}
.fire {
  background: url("https://res.cloudinary.com/di449masi/image/upload/v1610332120/d4wcj31-53a8338d-c2b1-4a00-ad15-aaa314cb9f6b_jlkk9l.png")
    no-repeat;
}
.electric {
  background: url("https://res.cloudinary.com/di449masi/image/upload/v1610332538/d6awe5m-d41ba327-6970-4ab7-8353-6f236d203006.png_ipvl1k.png")
    no-repeat;
}
.grass {
  background: url("https://res.cloudinary.com/di449masi/image/upload/v1610332680/d5oulfh-45f9111f-d787-4040-8609-50e8ce099b31.png_r8onzf.png")
    no-repeat;
}
.fighting {
  background: url("https://res.cloudinary.com/di449masi/image/upload/v1610332120/d4wcj31-53a8338d-c2b1-4a00-ad15-aaa314cb9f6b_jlkk9l.png")
    no-repeat;
}
.flying {
  background: url("https://res.cloudinary.com/di449masi/image/upload/v1610332910/d6ada67-356f47fc-c8fe-49b7-b59a-313219d7022c_inpc0j.png")
    no-repeat;
}
.normal {
  background: url("https://res.cloudinary.com/di449masi/image/upload/v1610332910/d6ada67-356f47fc-c8fe-49b7-b59a-313219d7022c_inpc0j.png")
    no-repeat;
}
.poison {
  background: url("https://res.cloudinary.com/di449masi/image/upload/v1610333186/light-pink-and-purple-defocused-blurred-motion-abstract-background-picture-id1138288771_uqvfdb.jpg")
    no-repeat;
}
.ghost {
  background: url("https://res.cloudinary.com/di449masi/image/upload/v1610333186/light-pink-and-purple-defocused-blurred-motion-abstract-background-picture-id1138288771_uqvfdb.jpg")
    no-repeat;
}
.dragon {
  background: url("https://res.cloudinary.com/di449masi/image/upload/v1610333186/light-pink-and-purple-defocused-blurred-motion-abstract-background-picture-id1138288771_uqvfdb.jpg")
    no-repeat;
}
.dark {
  background: url("https://res.cloudinary.com/di449masi/image/upload/v1610333186/light-pink-and-purple-defocused-blurred-motion-abstract-background-picture-id1138288771_uqvfdb.jpg")
    no-repeat;
}

.steel {
  background: url("https://res.cloudinary.com/di449masi/image/upload/v1610333926/990fd331468a6fdab327d0fe7d4d7e96_g1j94x.jpg")
    no-repeat;
}

.ground {
  background: url("https://res.cloudinary.com/di449masi/image/upload/v1610332120/d4wcj31-53a8338d-c2b1-4a00-ad15-aaa314cb9f6b_jlkk9l.png")
    no-repeat;
}
.rock {
  background: url("https://res.cloudinary.com/di449masi/image/upload/v1610332120/d4wcj31-53a8338d-c2b1-4a00-ad15-aaa314cb9f6b_jlkk9l.png")
    no-repeat;
}
.pyschic {
  background: url("https://res.cloudinary.com/di449masi/image/upload/v1610333186/light-pink-and-purple-defocused-blurred-motion-abstract-background-picture-id1138288771_uqvfdb.jpg")
    no-repeat;
}
body div.cardBody div.header {
  margin-bottom: 2px;
}
body div.cardBody div.header p.basic {
  font-size: 0.5rem;
  font-weight: bold;
  margin: 1% 0 0 7%;
}
body div.cardBody div.header div.nameAndHealth {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 7%;
}
body div.cardBody div.header div.nameAndHealth p {
  margin: 0;
}
body div.cardBody div.header div.nameAndHealth p.name {
  font-family: "Roboto", sans-serif;
  font-size: 1.25rem;
  font-weight: bold;
}
body div.cardBody div.header div.nameAndHealth div.floatRight {
  align-items: center;
  display: flex;
}
body div.cardBody div.header div.nameAndHealth div.floatRight p.health {
  color: red;
  font-size: 1.25rem;
  margin-right: 15px;
}
body div.cardBody div.header div.nameAndHealth div.floatRight img {
  margin: 0;
  width: 15px;
}
body div.cardBody div.squirtle {
  text-align: center;
}
body div.cardBody div.squirtle img {
  border: 10px solid #e7c300;
  box-shadow: 5px 5px 10px 2px black;
  width: 80%;
}
body div.cardBody div.stats {
  background-color: #e7c300;
  font-size: 0.65rem;
  white-space: nowrap;
  margin: -3px auto auto auto;
  width: 75%;
  text-align: center;
}
body div.cardBody div.stats p {
  font-style: italic;
}
body div.cardBody div.attacks hr {
  border: 1px solid black;
  margin: 0 auto;
  width: 95%;
}
body div.cardBody div.attacks div.specificAttack {
  align-items: center;
  display: inline-grid;
  grid-template-columns: 1fr 5fr 1fr;
}
body div.cardBody div.attacks div.specificAttack div.energy {
  text-align: center;
}
body div.cardBody div.attacks div.specificAttack div.energy img {
  width: 15px;
}
body div.cardBody div.attacks div.specificAttack div.attackDescription h2 {
  display: inline;
  font-family: "Francois One", sans-serif;
  font-size: 1rem;
  float: left;
  margin: 0 5px 0 0;
}
body div.cardBody div.attacks div.specificAttack div.attackDescription p {
  font-size: 0.75rem;
  margin: 0;
}
body
  div.cardBody
  div.attacks
  div.specificAttack
  div.attackDescription
  p
  span.attackName {
  font-family: "Francois One", sans-serif;
  font-size: 1rem;
  font-weight: bold;
}
body div.cardBody div.attacks div.specificAttack div.power {
  font-size: 1.5rem;
  text-align: center;
}
body div.cardBody div.attributes {
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  width: 100%;
}
body div.cardBody div.attributes p {
  font-size: 0.75rem;
  font-weight: bold;
  margin: 0;
}
body div.cardBody div.attributes img {
  width: 15px;
}
body div.cardBody div.description {
  border: 2px solid #e7c300;
  font-size: 0.5rem;
  margin: auto;
  padding: 0 5px;
  width: 90%;
}
body div.cardBody div.description p {
  font-style: italic;
  font-weight: bold;
  margin: 0;
}
body div.cardBody div.footer {
  font-size: 8px;
  padding: 0 1px;
  text-align: center;
  width: 100%;
}
.flip-card {
  margin-left: 25%;
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  color: black;
}

.flip-card-back {
  color: white;
  transform: rotateY(180deg);
} */
